In [1]:
import csv
import pandas as pd

I have a csv with field names "zip" and "county_code". I'm trying to find out all the county codes corresponding to each zip code. The output file should have "zip" as a string and "county_code" as a list of strings corresponding to the zip.

In [53]:
path = ''
pddata = pd.read_csv(path)

In [72]:
groupzip = pddata.groupby('zip').agg(lambda county_code: county_code.tolist() )

In [95]:
groupzip.head()

,number,county_name,county_code,State
zip,,,,
670,"[3, 3, 3]","[Camuy, Las Marias, Anasco]","[72027, 72083, 72011]","[PR, PR, PR]"
694,"[2, 2]","[Vega Alta, Vega Baja]","[72143, 72145]","[PR, PR]"
745,"[3, 3, 3]","[Humacao, Rio Grande, Canovanas]","[72069, 72119, 72029]","[PR, PR, PR]"
785,"[2, 2]","[Guayanilla, Guayama]","[72059, 72057]","[PR, PR]"
976,"[2, 2]","[San Juan, Trujillo Alto]","[72127, 72139]","[PR, PR]"

In [83]:
results = groupzip.filter(['zip','county_code'],axis =1)

In [92]:
results.head(20)

                county_code
zip
670   [72027, 72083, 72011]
694          [72143, 72145]
745   [72069, 72119, 72029]
785          [72059, 72057]
976          [72127, 72139]
979          [72127, 72031]
1011  [25013, 25015, 25003]
1054         [25011, 25015]
1075         [25015, 25013]
1223         [25003, 25013]
1270         [25011, 25003]
1366         [25011, 25027]
1434         [25027, 25017]
2324         [25021, 25023]
2339         [25023, 25021]
2467  [25021, 25025, 25017]
2532         [25001, 25023]
2554         [25019, 25023]
2562         [25023, 25001]
2762         [25021, 25005]

In [91]:
results.to_csv('')